*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
*.swp
.tm*
~*

.deps
.libs
/autom4te.cache

/INSTALL
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gconf-2.0.pc
/gconf-2.m4
/gconf-zip
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
Makefile
Makefile.in
Makefile.in.in
/missing
/mkinstalldirs
/stamp-h1

gsettings/gsettings-data-convert.desktop
